<!DOCTYPE html>
<html lang="<mt:var name="language">">
  <head>
    <meta charset="utf-8">
    <title><mt:websitename remove_html escape></title>
  </head>
  <body>
    <h1><mt:websitename></h1>
  </body>
</html>